/* Estilo do fundo escuro fora do modal */
.modal-backdrop-custom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo preto com opacidade */
  z-index: 1040; 
}

/* Estilo do modal */
.modal-custom {
  background-color: #f1f1f1; /* Cor de fundo branca */
  border-radius: 10px;
  z-index: 1050;
}

/* Estilo do cabeçalho do modal */
.modal-header {
  color: rgb(0, 0, 0); /* Texto branco */
  border-bottom: 1px solid #ddd;
}

/* Estilo do título do modal */
.modal-title {
  color: #000000; /* Texto em branco */
  font-size: 1.5rem; 
}

/* Estilo do rodapé do modal */
.modal-footer {
  color: rgb(0, 0, 0); /* Texto branco */
  border-top: 1px solid #ddd;
}

/* Estilo do botão de fechar */
.btn-secondary {
  background-color: #dc354660; /* Cor vermelha */
  color: white; /* Texto do botão em branco */
}

.btn-secondary:hover {
  background-color: #dc3546d0;
}

/* Estilo do corpo do modal */
.modal-body {
  padding: 20px;
  color: #333; /* Texto em preto */
}

/* Estilo da lista dentro do modal */
.list-unstyled {
  padding-left: 0;
}

/* Estilo dos itens da lista dentro do modal */
.list-unstyled li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333; /* Texto em preto */
}

/* Estilo das bolinhas de status (número) */
.number-ball {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: auto;
}

/* Estilo do fundo da lista de ocupação */
.modal-body ul li {
  background-color: #fff; /* Fundo branco */
  padding: 10px;
  border-radius: 5px;
}
