.modal-custom {
  background-color: #ffff;
  border-radius: 10px;
}

.modal-header {
  border-bottom: 1px solid black;
}

.modal-title {
  color: black;
}

.close {
  color: rgb(240, 230, 140); 
}

.card-custom {
  background-color: rgb(240, 230, 140); 
  border-radius: 8px;
}

.card-body {
  padding: 10px;
}

.modal-footer {
  border-top: 1px solid #ddd;
}

.modal-body {
  padding: 20px;
}

.card {
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
