#wrapper {
  display: flex;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #343a40;
  color: white;
  transition: width 0.3s ease;
}

#sidebar.sidebar-expanded {
  width: 350px;
}

#sidebar.sidebar-collapsed {
  width: 100px;
}

#page-content-wrapper {
  transition: margin-left 0.3s ease;
}

#page-content-wrapper {
  margin-left: 150px;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.hamburger-icon .bar {
  width: 100%;
  height: 4px;
  background-color: white;
  transition: 0.3s;
}

.hamburger-icon.open .bar1 {
  transform: rotate(45deg) translateY(6px);
}

.hamburger-icon.open .bar2 {
  opacity: 0;
}

.hamburger-icon.open .bar3 {
  transform: rotate(-45deg) translateY(-6px);
}

@media (max-width: 768px) {
  #sidebar {
    width: 80px;
  }

  #sidebar.sidebar-expanded {
    width: 250px;
  }

  #page-content-wrapper {
    margin-left: 80px;
  }
}

.logo-border {
  width: 90%;
  height: 1px;
  background-color: white;
  margin: 10px auto; 
}