/* Define um estilo geral para o texto "Sistema Motel" */
.navbar-brand .d-none.d-md-inline {
  font-size: 1.2rem; /* Tamanho da fonte */
  font-weight: bold; /* Texto em negrito */
  color: #f8f9fa; /* Cor do texto branco */
}

/* Estiliza o nome da empresa, caso esteja presente */
.navbar-brand .d-none.d-md-inline span {
  color: #ffc107; /* Cor diferente (amarelo) para destacar o nome da empresa */
  font-weight: normal; /* Texto normal para diferenciar do título */
  margin-left: 5px; /* Espaçamento entre o texto "Sistema Motel" e o nome da empresa */
}

/* Estilo para dispositivos menores (exemplo para responsividade) */
@media (max-width: 768px) {
  .navbar-brand .d-none.d-md-inline {
    font-size: 1rem; /* Reduz o tamanho da fonte em telas menores */
  }
}