.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar .navbar-brand {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.navbar .btn {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-info {
  text-align: center;
}
